{% extends 'base.html' %}
{% load static %}
{% block pgcss %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
 {% endblock pgcss %} 
 {% block title %} EKYC {% endblock title %}
    <!-- <title>Index</title> -->
    {% block content %}
        	<div class="row">
        		<div class="col col-lg-4 col-sm-12" id="imgBox">
       			 	<img src="{% static 'images/kyc.png' %}" alt="kyc" id="kyc">
        		</div>
        		<div class="col col-lg-8 col-sm-12" id="contBox">
        			<div class="col-lg-12">
        				<h1>Get your KYC instantly verified now </h1>
        			</div>
        			<div class="col-lg-12">
        				<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Porro, optio ad officia nostrum. Ut, magnam, nisi! Officia numquam voluptatem minus nam ea quasi hic neque, sunt iste, aperiam, quia? Eligendi.</p>
        			</div>
        			<div class="col-lg-12" id="buttonBox">
        				<button type="submit" class="btn-primary">Procees towards KYC Verification</button>
        			</div>
        		</div>
        </div>
    {% endblock content %}

