{% extends 'base.html' %}
{% load static %}

{% block pgcss %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock pgcss %}

{% block content %}
<form method="POST" role="form">
{% csrf_token %}
    
    <div class="container">
    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">1</a>
            <p class="step">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-primary btn-circle ">2</a>
            <p class="step">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">3</a>
            <p class="step">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">4</a>
            <p class="step">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">5</a>
            <p class="step">Step 5</p>
        </div>
        
    </div>
</div>

    <div class="row setup-content" id="step-2">
        <!-- <div class="col-xs-12"> -->
            <div class="col-md-12">
                <h3> Step 2</h3>
                <div class="form-group">
                    <label class="control-label">Enter OTP</label>
                    <input maxlength="4" minlength="4" type="tel" class="form-control" placeholder="XXXX" name="otp" required/>
                </div>

                <div class="button">
                    <button type="submit" id="submit" > Next Step </button>
                </div>
                

            </div>
        <!-- </div> -->
    </div>
</form>
{% endblock content %}