{% extends 'base.html' %}
{% load static %}

{% block pgcss %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock pgcss %}
{% block content %}
<form role="form" method="POST" action="">
 {% csrf_token %}
    <div class="container">

    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p class="step">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle ">2</a>
            <p class="step">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle">3</a>
            <p class="step">Step 3</p>
        </div>
        
    </div>
</div>


    <div class="phone-form">
        <div class="row" id="step-1">
            <div class="col-md-12"> 
                <div class="input-box">
                    <span class="details" id="phonetext">
                     Enter Phone num
                    </span>
                    <input placeholder="" maxlength="10" class="form-control" placeholder="10 digit phone num" type="tel" required aria-required="true">
                </div>
                <div class="button">
                <input type="submit" value="Next step">
                </div>

            </div>
        </div>
    </div>
</form>

{% endblock content %}

