{% extends 'base.html' %} {% load static %} {% block content %}
<form id="videoRec" action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
  <div class="left">
    <div id="startButton" class="button">Start</div>

    <!-- -->
    <h2>Preview</h2>
    <video id="preview" width="160" height="120" autoplay muted>
        <source type="video/mp4">
    </video>
    <!-- -->
  </div>

  <div class="right">
    <div id="stopButton" class="button">Stop</div>

    <h2>Recording</h2>
    <video id="recording" width="200" height="120" controls>
        <source type="video/mp4">

    </video>

     <!-- <a id="downloadButton" class="button"> Download </a> {% -->
    
    <button id="submitButton" class="button" type="submit">Submit</button>
  </div>
</form>
<script>
  let myForm = document.getElementById("videoRec");
  let preview = document.getElementById("preview");
  let recording = document.getElementById("recording");
  let startButton = document.getElementById("startButton");
  let stopButton = document.getElementById("stopButton");
  let downloadButton = document.getElementById("downloadButton");
  let logElement = document.getElementById("log");
    let submitButton = document.getElementById("submitButton");
  let recordingTimeMS = 3000;

  function log(msg) {
    //logElement.innerHTML += msg + "\n";
  }

  function wait(delayInMS) {
    return new Promise((resolve) => setTimeout(resolve, delayInMS));
  }

  function startRecording(stream, lengthInMS) {
    let recorder = new MediaRecorder(stream);
    let data = [];
    lengthInMS = 3000;

    recorder.ondataavailable = (event) => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + lengthInMS / 1000 + " seconds...");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = (event) => reject(event.name);
    });

    let recorded = wait(lengthInMS).then(
      () => recorder.state == "recording" && recorder.stop()
    );

    return Promise.all([stopped, recorded]).then(() => data);
  }

  function stop(stream) {
    stream.getTracks().forEach((track) => track.stop());
  }

  startButton.addEventListener(
    "click",
    function () {
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: false,
        })
        .then((stream) => {
          preview.srcObject = stream;
          downloadButton.href = stream;
          preview.captureStream =
          preview.captureStream || preview.mozCaptureStream;
          return new Promise((resolve) => (preview.onplaying = resolve));
        })
        .then(() => startRecording(preview.captureStream(), recordingTimeMS))
          .then(()=> preview.style.display)
        .then((recordedChunks) => {
          const recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
          recording.src = URL.createObjectVideo(recordedBlob);
          console.log(recording.src);
          downloadButton.href = recording.src;
          downloadButton.download = "RecordedVideo.mp4";
        //   const endpoint = "upload";
          //const formData = new FormData();
          // let recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
          //  recording.src = URL.createObjectVideo(recordedBlob);
          //  console.log(recording.src);

          formData.append("recording", recording.src);
          log(
            "Successfully recorded " +
              recordedBlob.size +
              " bytes of " +
              recordedBlob.type +
              " media."
          );
        })
        .catch(log);
    },
    false
  );

  submitButton.addEventListener("submit", (e) => {
    e.preventDefault();
    // const formData = new FormData();
    console.log("heelo");
        const recordedChunks = (e) => {
        const recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
        recording.src = URL.createObjectVideo(recordedBlob);
        console.log(recording.src);
            //   downloadButton.href = recording.src;
            //   downloadButton.download = "RecordedVideo.mp4";
        const endpoint = "upload";
        const formData = new FormData();
        formData.append("recording", recording.src);
    }

  });

  stopButton.addEventListener(
    "click",
    function () {
      stop(preview.srcObject);
    },
    false
  );
</script>

{% endblock content %}
