{% extends 'base.html' %} {% load static %} {% block content %}

<form action="" id="myForm" enctype="multipart/form-data">

{% block pgcss %}

<link rel="stylesheet" href="{% static 'css/video.css' %}">
{% endblock pgcss %}

    {% csrf_token %}

<div class="container">
    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">1</a>
            <p class="step_">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">2</a>
            <p class="step_">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">3</a>
            <p class="step_">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">4</a>
            <p class="step_">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-primary btn-circle">5</a>
            <p class="step_">Step 5</p>
        </div>
        
    </div>
</div>

  <h3 class="text-center" id="prompt_text">Time to record your video </h3>

  <div class="left">
    <div id="startButton" class="offset-md-3 button btn btn-success col-md-6 justify-content-center align-items-center">Click to start video</div>

    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h2 id="warn_text" class="mx-auto">Hold still while we are recording your video</h2>
           <video id="preview" width="900" height="480" class="mr-3 pr-3" autoplay muted></video>
          </div>
      </div>
      </div>
    <div class="row">
      <div class="mx-auto">
        <div id="stopButton" class="button">Stop</div>
        <h2 id="record_text" class="mx-auto">Recorded video, refresh to re-record</h2>
        <video id="recording" width="900" height="480" controls></video>
        <a id="downloadButton" class="offset-md-3 button btn btn-success col-md-6 justify-content-center align-items-center py-4 my-4"> Submit video</a>
        </div>
      </div>
  </div>
</form>

<script>
  let preview = document.getElementById("preview");
  let recording = document.getElementById("recording");
  let startButton = document.getElementById("startButton");
  let stopButton = document.getElementById("stopButton");
  let downloadButton = document.getElementById("downloadButton");
  let logElement = document.getElementById("log");
  let myForm = document.getElementById("myForm");
  let recordingTimeMS = 10000;
  let recordedBlob;
  let warn_text = document.getElementById("warn_text");
  let record_text = document.getElementById("record_text");
  let prompt_text = document.getElementById("prompt_text");
  let bgimg = document.getElementById("bgimg")


  bgimg.style.display="none";
  warn_text.style.display="none";
  recording.style.display="none";
  stopButton.style.display="none";
  record_text.style.display="none";
  downloadButton.style.display="none";
  function log(msg) {
    //logElement.innerHTML += msg + "\n";
  }

  function wait(delayInMS) {
    return new Promise((resolve) => setTimeout(resolve, delayInMS));
  }

  function startRecording(stream, lengthInMS) {
    let recorder = new MediaRecorder(stream);
    let data = [];
    warn_text.style.display="block";
    recorder.ondataavailable = (event) => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + lengthInMS / 1000 + " seconds...");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = (event) => reject(event.name);
    });

    let recorded = wait(lengthInMS).then(
      () => recorder.state == "recording" && recorder.stop()
    );

    return Promise.all([stopped, recorded]).then(() => data);
  }

  function stop(stream) {
    stream.getTracks().forEach((track) => track.stop());
  }

  startButton.addEventListener(
    "click",
    function () {
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: false,
        })
        .then((stream) => {
          preview.srcObject = stream;
          downloadButton.href = stream;
          preview.captureStream =
            preview.captureStream || preview.mozCaptureStream;
          return new Promise((resolve) => (preview.onplaying = resolve));
        })
        .then(() => startRecording(preview.captureStream(), recordingTimeMS))
        .then((recordedChunks) => {
          recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
          console.log(recordedBlob);
          recording.src = URL.createObjectURL(recordedBlob);
          warn_text.style.display="none";
          record_text.style.display="block";
          downloadButton.style.display="block"
          prompt_text.style.display="none";
          startButton.style.display="none";
          downloadButton.href = recording.src;
          downloadButton.download = "RecordedVideo.mp4";
          preview.style.display="none";
          recording.style.display="block"
          log(
            "Successfully recorded " +
              recordedBlob.size +
              " bytes of " +
              recordedBlob.type +
              " media."
          );
        })
        .catch(log);
    },
    false
  );

  stopButton.addEventListener(
    "click",
    function () {
      stop(preview.srcObject);
    },
    false
  );

  downloadButton.addEventListener("click", (e) => {
    e.preventDefault();
    const endpt = "upload";
    const formData = new FormData();
    console.log(recordedBlob);
    formData.append("video", recordedBlob);
    
    fetch(endpt, {
      method: "POST", 
      body: formData,
    }).catch(log);

    window.setTimeout(function(){
      window.alert("Please have patience, we are processing your request, you will be redirected to another page soon")
    }, 500)

     window.setTimeout( function(){
        window.location = "profile/";
      }, 20000 );

  });
</script>

{% endblock content %}
