{% extends 'base.html' %} {% load static %} {% block content %}

<form action="" id="myForm" enctype="multipart/form-data">


    {% csrf_token %}

<div class="container">
    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-primary btn-circle">1</a>
            <p class="step">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">2</a>
            <p class="step">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">3</a>
            <p class="step">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">4</a>
            <p class="step">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">5</a>
            <p class="step">Step 5</p>
        </div>
        
    </div>
</div>


  <div class="left">
    <div id="startButton" class="button btn btn-success">Start</div>
    <h2>Preview</h2>
    <video id="preview" width="160" height="120" autoplay muted></video>
  </div>

  <div class="right">
    <div id="stopButton" class="button">Stop</div>
    <h2>Recording</h2>
    <video id="recording" width="160" height="120" controls></video>
    <a id="downloadButton" class="button"> Download </a>
  </div>
</form>

<script>
  let preview = document.getElementById("preview");
  let recording = document.getElementById("recording");
  let startButton = document.getElementById("startButton");
  let stopButton = document.getElementById("stopButton");
  let downloadButton = document.getElementById("downloadButton");
  let logElement = document.getElementById("log");
  let myForm = document.getElementById("myForm");
  let recordingTimeMS = 10000;
  let recordedBlob;

  function log(msg) {
    //logElement.innerHTML += msg + "\n";
  }

  function wait(delayInMS) {
    return new Promise((resolve) => setTimeout(resolve, delayInMS));
  }

  function startRecording(stream, lengthInMS) {
    let recorder = new MediaRecorder(stream);
    let data = [];

    recorder.ondataavailable = (event) => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + lengthInMS / 1000 + " seconds...");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = (event) => reject(event.name);
    });

    let recorded = wait(lengthInMS).then(
      () => recorder.state == "recording" && recorder.stop()
    );

    return Promise.all([stopped, recorded]).then(() => data);
  }

  function stop(stream) {
    stream.getTracks().forEach((track) => track.stop());
  }

  startButton.addEventListener(
    "click",
    function () {
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: false,
        })
        .then((stream) => {
          preview.srcObject = stream;
          downloadButton.href = stream;
          preview.captureStream =
            preview.captureStream || preview.mozCaptureStream;
          return new Promise((resolve) => (preview.onplaying = resolve));
        })
        .then(() => startRecording(preview.captureStream(), recordingTimeMS))
        .then((recordedChunks) => {
          recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
          console.log(recordedBlob);
          recording.src = URL.createObjectURL(recordedBlob);

          downloadButton.href = recording.src;
          downloadButton.download = "RecordedVideo.mp4";

          log(
            "Successfully recorded " +
              recordedBlob.size +
              " bytes of " +
              recordedBlob.type +
              " media."
          );
        })
        .catch(log);
    },
    false
  );

  stopButton.addEventListener(
    "click",
    function () {
      stop(preview.srcObject);
    },
    false
  );

  downloadButton.addEventListener("click", (e) => {
    e.preventDefault();
    const endpt = "upload";
    const formData = new FormData();
    console.log(recordedBlob);
    formData.append("video", recordedBlob);
    
    fetch(endpt, {
      method: "POST", 
      body: formData,
    }).catch(log);
  });
</script>

{% endblock content %}
